{% extends "layout.html" %}
{% block content %}

    <article class="account">

      <section class="account-info">
        <img src="{{ image_file }}" alt="">
        <div class="account-info-main">
          <h2>{{ current_user.username }}</h2>
          <p>{{ current_user.email }}</p>
        </div>
      </section>

      <section class="account-form">
        <h3>Update Account</h3>
        <form class="update-account" action="" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{  form.username.label }}
            {% if form.username.errors %}
              {{ form.username }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{  form.username }}
            {% endif %}
          </div> <!-- /username -->
          <div class="form-group">
            {{  form.email.label }}
            {% if form.email.errors %}
              {{ form.email }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{  form.email }}
            {% endif %}
          </div> <!-- /email -->
          <div class="form-group">
            {{  form.picture.label }}
            {{  form.picture }}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span>{{ error }}</span></br>
              {% endfor %}
            {% endif %}
          </div> <!-- /picture -->
          <div class="form-group btn">
            {{ form.submit }}
          </div>
        </form>
      </section> <!-- /update-account form -->

      
    </article> <!-- /account -->

{% endblock content %}
