{% extends "layout.html" %}
{% block content %}
  <article class="hp-content">

    <section class="hp-info">
      <h2>About Digital Bungalow</h2>
      <p>Welcome to Digital Bungalow. This is a blog about learning Python
        programming language and all things related to it. </p>
    </section> <!-- hp-info -->


    <h2>Recent Posts</h2>
    <section class="hp-recent">
      {% for post in posts.items %}
        <h3><a href="{{ url_for('post', post_title=post.title) }}">{{ post.title }}</a></h3>

        <div class="post-text">
          {{ post.content[:100] }}

        </div class="paginate">
      {% endfor %}

      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,
                                          right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a href="{{ url_for('home', page=page_num) }}" class="paginate-btn active"><span>{{ page_num }}</span></a>
          {% else %}
            <a href="{{ url_for('home', page=page_num) }}" class="paginate-btn">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </section> <!-- hp-recent -->

  </article> <!-- /hp-content -->
{% endblock content %}
