{% extends "layout.html" %}
{% block content %}

    <article class="post">
      <section class="post-content">

          <h2>{{ post.title }}</h2>

          <div class="post-meta">
            <p> Posted by <b>{{ post.author.username }}</b>
              on {{ post.date_posted.strftime('%Y, %b %d') }}
              in <a href="{{ url_for('topic', topic_name=topic.topicname)}}">
                  {{ topic.topicname }}
                </a>
            </p>
          </div>
          <div class="post-text">
            {{ post.content }}
          </div>
        
      </section>

    </article>

{% endblock content %}
